.manage-slots-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .manage-slots-content {
    display: flex;
    flex: 1;
  }
  
  .slots-container {
    padding: 20px;
    width: 100%;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .search-bar {
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .add-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }
  
  .slots-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .slots-table th, .slots-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .slots-table th {
    background-color: #f4f4f4;
  }
  
  .edit-button, .delete-button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #007BFF;
    font-size: 16px;
  }
  
  .delete-button {
    background-color: #dc3545;
  }
  
  .edit-button:hover, .delete-button:hover {
    opacity: 0.8;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
  }
  
  .modal-content h3 {
    margin-bottom: 20px;
  }
  
  .modal-content select, .modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .save-button, .cancel-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 48%;
  }
  
  .save-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
  }
  
  .save-button:hover {
    background-color: #45a049;
  }
  
  .cancel-button:hover {
    background-color: #e53935;
  }
  

  /* .pagination {
    margin-top: 20px;
    text-align: center;
  } */
  
  /* .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:hover {
    background-color: #007bff;
    color: white;
  }
   */